openapi: 3.0.1
info:
  title: FireHydrant API
  description: |-
    The FireHydrant API is based around REST. It uses Bearer token authentication and returns JSON responses. You can use the FireHydrant API to configure integrations, define incidents, and set up webhooks--anything you can do on the FireHydrant UI.

    * [Dig into our API endpoints](https://developers.firehydrant.io/docs/api)
    * [View your bot users](https://app.firehydrant.io/organizations/bots)

    ## Base API endpoint

    [https://api.firehydrant.io/v1](https://api.firehydrant.io/v1)

    ## Current version

    v1

    ## Authentication

    All requests to the FireHydrant API require an `Authorization` header with the value set to `Bearer {token}`. FireHydrant supports bot tokens to act on behalf of a computer instead of a user's account. This prevents integrations from breaking when people leave your organization or their token is revoked. See the Bot tokens section (below) for more information on this.

    An example of a header to authenticate against FireHydrant would look like:

    ```
    Authorization: Bearer fhb-thisismytoken
    ```

    ## Bot tokens

    To access the FireHydrant API, you must authenticate with a bot token. (You must have owner permissions on your organization to see bot tokens.) Bot users allow you to interact with the FireHydrant API by using token-based authentication. To create bot tokens, log in to your organization and refer to the **Bot users** [page](https://app.firehydrant.io/organizations/bots).

    Bot tokens enable you to create a bot that has no ties to any user. Normally, all actions associated with an API token are associated with the user who created it. Bot tokens attribute all actions to the bot user itself. This way, all data associated with the token actions can be performed against the FireHydrant API without a user.

    Every request to the API is authenticated unless specified otherwise.

    ### Rate Limiting

    Currently, requests made with bot tokens are rate limited on a per-account level. If your account has multiple bot token then the rate limit is shared across all of them. As of February 7th, 2023, the rate limit is at least 50 requests per account every 10 seconds, or 300 requests per minute.

    Rate limited responses will be served with a `429` status code and a JSON body of:

    ```json
    {"error": "rate limit exceeded"}
    ```
    and headers of:
    ```
    "RateLimit-Limit" -> the maximum number of requests in the rate limit pool
    "Retry-After" -> the number of seconds to wait before trying again
    ```

    ## How lists are returned

    API lists are returned as arrays. A paginated entity in FireHydrant will return two top-level keys in the response object: a data key and a pagination key.

    ### Paginated requests

    The `data` key is returned as an array. Each item in the array includes all of the entity data specified in the API endpoint. (The per-page default for the array is 20 items.)

    Pagination is the second key (`pagination`) returned in the overall response body. It includes medtadata around the current page, total count of items, and options to go to the next and previous page. All of the specifications returned in the pagination object are available as URL parameters. So if you want to specify, for example, going to the second page of a response, you can send a request to the same endpoint but pass the URL parameter **page=2**.

    For example, you might request **https://api.firehydrant.io/v1/environments/** to retrieve environments data. The JSON returned contains the above-mentioned data section and pagination section. The data section includes various details about an incident, such as the environment name, description, and when it was created.

    ```
    {
      "data": [
        {
          "id": "f8125cf4-b3a7-4f88-b5ab-57a60b9ed89b",
          "name": "Production - GCP",
          "description": "",
          "created_at": "2021-02-17T20:02:10.679Z"
        },
        {
          "id": "a69f1f58-af77-4708-802d-7e73c0bf261c",
          "name": "Staging",
          "description": "",
          "created_at": "2021-04-16T13:41:59.418Z"
        }
      ],
      "pagination": {
        "count": 2,
        "page": 1,
        "items": 2,
        "pages": 1,
        "last": 1,
        "prev": null,
        "next": null
      }
    }
    ```

    To request the second page, you'd request the same endpoint with the additional query parameter of `page` in the URL:

    ```
    GET https://api.firehydrant.io/v1/environments?page=2
    ```

    If you need to modify the number of records coming back from FireHydrant, you can use the `per_page` parameter (max is 200):

    ```
    GET https://api.firehydrant.io/v1/environments?per_page=50
    ```
  version: 0.0.1
servers:
  - url: https://api.firehydrant.io/
security:
  - api_key: []
tags:
  - name: ping
    description: Operations about pings
  - name: environments
    description: Operations about environments
  - name: services
    description: Operations about services
  - name: service_dependencies
    description: Operations about service_dependencies
  - name: functionalities
    description: Operations about functionalities
  - name: teams
    description: Operations about teams
  - name: changes
    description: Operations about changes
  - name: change_types
    description: Operations about change_types
  - name: entitlements
    description: Operations about entitlements
  - name: incidents
    description: Operations about incidents
  - name: incident_roles
    description: Operations about incident_roles
  - name: incident_tags
    description: Operations about incident_tags
  - name: incident_types
    description: Operations about incident_types
  - name: integrations
    description: Operations about integrations
  - name: users
    description: Operations about users
  - name: current_user
    description: Operations about current_users
  - name: reports
    description: Operations about reports
  - name: metrics
    description: Operations about metrics
  - name: runbooks
    description: Operations about runbooks
  - name: runbook_audits
    description: Operations about runbook_audits
  - name: nunc_connections
    description: Operations about nunc_connections
  - name: saved_searches
    description: Operations about saved_searches
  - name: lifecycles
    description: Operations about lifecycles
  - name: priorities
    description: Operations about priorities
  - name: severities
    description: Operations about severities
  - name: severity_matrix
    description: Operations about severity_matrices
  - name: scheduled_maintenances
    description: Operations about scheduled_maintenances
  - name: schedules
    description: Operations about schedules
  - name: infrastructures
    description: Operations about infrastructures
  - name: nunc
    description: Operations about nuncs
  - name: status_update_templates
    description: Operations about status_update_templates
  - name: custom_fields
    description: Operations about custom_fields
  - name: post_mortems
    description: Operations about post_mortems
  - name: retrospective_templates
    description: Operations about retrospective_templates
  - name: alerts
    description: Operations about alerts
  - name: processing_log_entries
    description: Operations about processing_log_entries
  - name: ticketing
    description: Operations about ticketings
  - name: task_lists
    description: Operations about task_lists
  - name: noauth
    description: Operations about noauths
  - name: scim
    description: Operations about scims
  - name: catalogs
    description: Operations about catalogs
  - name: checklist_templates
    description: Operations about checklist_templates
  - name: bootstrap
    description: Operations about bootstraps
  - name: form_configurations
    description: Operations about form_configurations
  - name: conversations
    description: Operations about conversations
  - name: signals
    description: Operations about signals
  - name: signals_on_call
    description: Operations about signals_on_calls
  - name: webhooks
    description: Operations about webhooks
  - name: ai
    description: Operations about ais
  - name: audiences
    description: Operations about audiences
paths:
  /v1/ping:
    get:
      tags:
        - ping
      summary: Ping
      description: Simple endpoint to verify your API connection is working
      operationId: getV1Ping
      responses:
        "200":
          description: Simple endpoint to verify your API connection is working
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PongEntity'
  /v1/environments:
    get:
      tags:
        - environments
      summary: List all environments
      description: List all of the environments that have been added to the organiation
      operationId: getV1Environments
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: query
          in: query
          description: A query to search environments by their name or description
          schema:
            type: string
        - name: name
          in: query
          description: A query to search environments by their name
          schema:
            type: string
      responses:
        "200":
          description: List all of the environments that have been added to the organiation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentEntryEntityPaginated'
    post:
      tags:
        - environments
      summary: Create an environment
      description: Creates an environment for the organization
      operationId: postV1Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Environments'
        required: true
      responses:
        "201":
          description: Creates an environment for the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentEntryEntity'
      x-codegen-request-body-name: postV1Environments
  /v1/environments/{environment_id}:
    get:
      tags:
        - environments
      summary: Retrieve a single environment
      description: Retrieves a single environment by ID
      operationId: getV1EnvironmentsEnvironmentId
      parameters:
        - name: environment_id
          in: path
          description: Environment UUID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieves a single environment by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentEntryEntity'
    delete:
      tags:
        - environments
      summary: Archive an environment
      description: Archive an environment
      operationId: deleteV1EnvironmentsEnvironmentId
      parameters:
        - name: environment_id
          in: path
          description: Environment UUID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Archive an environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentEntryEntity'
    patch:
      tags:
        - environments
      summary: Update an environment
      description: Update a environments attributes
      operationId: patchV1EnvironmentsEnvironmentId
      parameters:
        - name: environment_id
          in: path
          description: Environment UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1EnvironmentsEnvironmentId'
        required: true
      responses:
        "200":
          description: Update a environments attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentEntryEntity'
      x-codegen-request-body-name: patchV1EnvironmentsEnvironmentId
  /v1/services:
    get:
      tags:
        - services
      summary: List all services
      description: List all of the services that have been added to the organization.
      operationId: getV1Services
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: labels
          in: query
          description: A comma separated list of label key / values in the format of 'key=value,key2=value2'. To filter change events that have a key (with no specific value), omit the value
          schema:
            type: string
        - name: query
          in: query
          description: A query to search services by their name or description
          schema:
            type: string
        - name: name
          in: query
          description: A query to search services by their name
          schema:
            type: string
        - name: tiers
          in: query
          description: A query to search services by their tier
          schema:
            type: string
        - name: impacted
          in: query
          description: A query to search services by if they are impacted with active incidents
          schema:
            type: string
        - name: owner
          in: query
          description: A query to search services by their owner
          schema:
            type: string
        - name: responding_teams
          in: query
          description: A comma separated list of team ids
          schema:
            type: string
        - name: functionalities
          in: query
          description: A comma separated list of functionality ids
          schema:
            type: string
        - name: available_downstream_dependencies_for_id
          in: query
          description: A query to find services that are available to be downstream dependencies for the passed service ID
          schema:
            type: string
        - name: available_upstream_dependencies_for_id
          in: query
          description: A query to find services that are available to be upstream dependencies for the passed service ID
          schema:
            type: string
        - name: lite
          in: query
          description: Boolean to determine whether to return a slimified version of the services object
          schema:
            type: boolean
        - name: include
          in: query
          description: Use in conjunction with lite param to specify additional attributes to include
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: List all of the services that have been added to the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntityPaginated'
    post:
      tags:
        - services
      summary: Create a service
      description: Creates a service for the organization, you may also create or attach functionalities to the service on create.
      operationId: postV1Services
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Services'
        required: true
      responses:
        "201":
          description: Creates a service for the organization, you may also create or attach functionalities to the service on create.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntity'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-codegen-request-body-name: postV1Services
  /v1/services/service_links:
    post:
      tags:
        - services
      summary: Bulk create services and service links
      description: Creates a service with the appropriate integration for each external service ID passed
      operationId: postV1ServicesServiceLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1ServicesServiceLinks'
        required: true
      responses:
        "201":
          description: Creates a service with the appropriate integration for each external service ID passed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceLinkEntity'
      x-codegen-request-body-name: postV1ServicesServiceLinks
  /v1/services/{service_id}:
    get:
      tags:
        - services
      summary: Retrieve a single service
      description: Retrieves a single service by ID
      operationId: getV1ServicesServiceId
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieves a single service by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntity'
    delete:
      tags:
        - services
      summary: Delete a service
      description: Deletes the service from FireHydrant.
      operationId: deleteV1ServicesServiceId
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deletes the service from FireHydrant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntity'
    patch:
      tags:
        - services
      summary: Update a service
      description: |
        Update a services attributes, you may also add or remove functionalities from the service as well.
        Note: You may not remove or add individual label key/value pairs. You must include the entire object to override label values.
      operationId: patchV1ServicesServiceId
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1ServicesServiceId'
        required: true
      responses:
        "200":
          description: |
            Update a services attributes, you may also add or remove functionalities from the service as well.
            Note: You may not remove or add individual label key/value pairs. You must include the entire object to override label values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntity'
      x-codegen-request-body-name: patchV1ServicesServiceId
  /v1/services/{service_id}/dependencies:
    get:
      tags:
        - services
      summary: Retrieve a service's dependencies
      description: Retrieves a service's dependencies
      operationId: getV1ServicesServiceIdDependencies
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
        - name: flatten
          in: query
          description: If true, returns all dependencies in one array. If false, splits dependencies into different arrays for child and parent dependencies
          schema:
            type: boolean
      responses:
        "200":
          description: Retrieves a service's dependencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceWithAllDependenciesEntity'
  /v1/services/{service_id}/available_upstream_dependencies:
    get:
      tags:
        - services
      summary: Retrieve all available upstream dependencies
      description: Retrieves all services that are available to be upstream dependencies
      operationId: getV1ServicesServiceIdAvailableUpstreamDependencies
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieves all services that are available to be upstream dependencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntityLite'
  /v1/services/{service_id}/available_downstream_dependencies:
    get:
      tags:
        - services
      summary: Retrieve all available downstream dependencies
      description: Retrieves all services that are available to be downstream dependencies
      operationId: getV1ServicesServiceIdAvailableDownstreamDependencies
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieves all services that are available to be downstream dependencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntityLite'
  /v1/services/{service_id}/service_links/{remote_id}:
    delete:
      tags:
        - services
      summary: Delete a service link
      description: Deletes a service link from FireHydrant.
      operationId: deleteV1ServicesServiceIdServiceLinksRemoteId
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
        - name: remote_id
          in: path
          description: |
            The external service ID which can be found in the JSON
            from GET services/:service_id endpoint under
            functionalities > external_resources > remote_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deletes a service link from FireHydrant.
          content: {}
  /v1/services/{service_id}/checklist_response/{checklist_id}:
    post:
      tags:
        - services
      summary: Record a response for a checklist item
      description: Creates a response for a checklist item
      operationId: postV1ServicesServiceIdChecklistResponseChecklistId
      parameters:
        - name: service_id
          in: path
          required: true
          schema:
            type: string
        - name: checklist_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1ServicesServiceIdChecklistResponseChecklistId'
        required: true
      responses:
        "201":
          description: Creates a response for a checklist item
          content: {}
      x-codegen-request-body-name: postV1ServicesServiceIdChecklistResponseChecklistId
  /v1/service_dependencies:
    post:
      tags:
        - service_dependencies
      summary: Create a service dependency
      description: Creates a service dependency relationship between two services
      operationId: postV1ServiceDependencies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1ServiceDependencies'
        required: true
      responses:
        "201":
          description: Creates a service dependency relationship between two services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDependencyEntity'
      x-codegen-request-body-name: postV1ServiceDependencies
  /v1/service_dependencies/{service_dependency_id}:
    get:
      tags:
        - service_dependencies
      summary: Retrieve a single service dependency
      description: Retrieves a single service dependency by ID
      operationId: getV1ServiceDependenciesServiceDependencyId
      parameters:
        - name: service_dependency_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieves a single service dependency by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDependencyEntity'
    delete:
      tags:
        - service_dependencies
      summary: Delete a service dependency
      description: Deletes a single service dependency
      operationId: deleteV1ServiceDependenciesServiceDependencyId
      parameters:
        - name: service_dependency_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deletes a single service dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDependencyEntity'
    patch:
      tags:
        - service_dependencies
      summary: Update a service dependency
      description: Update the notes of the service dependency
      operationId: patchV1ServiceDependenciesServiceDependencyId
      parameters:
        - name: service_dependency_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1ServiceDependenciesServiceDependencyId'
        required: true
      responses:
        "200":
          description: Update the notes of the service dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDependencyEntity'
      x-codegen-request-body-name: patchV1ServiceDependenciesServiceDependencyId
  /v1/functionalities:
    get:
      tags:
        - functionalities
      summary: List all functionalities
      description: List all of the functionalities that have been added to the organiation
      operationId: getV1Functionalities
      parameters:
        - name: query
          in: query
          description: A query to search functionalities by their name or description
          schema:
            type: string
        - name: name
          in: query
          description: A query to search functionalities by their name
          schema:
            type: string
        - name: impacted
          in: query
          description: A query to search services by if they are impacted with active incidents
          schema:
            type: string
        - name: labels
          in: query
          description: A comma separated list of label key / values in the format of 'key=value,key2=value2'. To filter change events that have a key (with no specific value), omit the value
          schema:
            type: string
        - name: owner
          in: query
          description: A query to search functionalities by their owning team ID
          schema:
            type: string
        - name: lite
          in: query
          description: Boolean to determine whether to return a slimified version of the functionalities object
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: List all of the functionalities that have been added to the organiation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionalityEntityPaginated'
    post:
      tags:
        - functionalities
      summary: Create a functionality
      description: Creates a functionality for the organization
      operationId: postV1Functionalities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Functionalities'
        required: true
      responses:
        "201":
          description: Creates a functionality for the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionalityEntity'
      x-codegen-request-body-name: postV1Functionalities
  /v1/functionalities/{functionality_id}:
    get:
      tags:
        - functionalities
      summary: Retrieve a single functionality
      description: Retrieves a single functionality by ID
      operationId: getV1FunctionalitiesFunctionalityId
      parameters:
        - name: functionality_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieves a single functionality by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionalityEntity'
    delete:
      tags:
        - functionalities
      summary: Archive a functionality
      description: Archive a functionality
      operationId: deleteV1FunctionalitiesFunctionalityId
      parameters:
        - name: functionality_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Archive a functionality
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionalityEntity'
    patch:
      tags:
        - functionalities
      summary: Update a functionality
      description: Update a functionalities attributes
      operationId: patchV1FunctionalitiesFunctionalityId
      parameters:
        - name: functionality_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1FunctionalitiesFunctionalityId'
        required: true
      responses:
        "200":
          description: Update a functionalities attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionalityEntity'
      x-codegen-request-body-name: patchV1FunctionalitiesFunctionalityId
  /v1/functionalities/{functionality_id}/services:
    get:
      tags:
        - functionalities
      operationId: getV1FunctionalitiesFunctionalityIdServices
      parameters:
        - name: functionality_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: get Service(s)
          content: {}
  /v1/teams:
    get:
      tags:
        - teams
      summary: List all teams
      description: List all of the teams in the organization
      operationId: getV1Teams
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: query
          in: query
          description: A query to search teams by their name or description
          schema:
            type: string
        - name: name
          in: query
          description: A query to search teams by their name
          schema:
            type: string
        - name: services
          in: query
          description: A comma separated list of service IDs
          schema:
            type: string
        - name: default_incident_role
          in: query
          description: Filter by teams that have or do not have members with a default incident role asssigned. Value may be 'present', 'blank', or the ID of an incident role.
          schema:
            type: string
        - name: lite
          in: query
          description: Boolean to determine whether to return a slimified version of the teams object
          schema:
            type: boolean
      responses:
        "200":
          description: List all of the teams in the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamEntityPaginated'
    post:
      tags:
        - teams
      summary: Create a team
      description: Create a new team
      operationId: postV1Teams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Teams'
        required: true
      responses:
        "201":
          description: Create a new team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamEntity'
      x-codegen-request-body-name: postV1Teams
  /v1/teams/{team_id}:
    get:
      tags:
        - teams
      summary: Retrieve a team
      description: Retrieve a single team from its ID
      operationId: getV1TeamsTeamId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: lite
          in: query
          description: Boolean to determine whether to return a slimified version of the teams object
          schema:
            type: boolean
      responses:
        "200":
          description: Retrieve a single team from its ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamEntity'
    delete:
      tags:
        - teams
      summary: Archive a team
      description: Archives an team which will hide it from lists and metrics
      operationId: deleteV1TeamsTeamId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Archives an team which will hide it from lists and metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamEntity'
    patch:
      tags:
        - teams
      summary: Update a team
      description: Update a single team from its ID
      operationId: patchV1TeamsTeamId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1TeamsTeamId'
        required: true
      responses:
        "200":
          description: Update a single team from its ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamEntity'
      x-codegen-request-body-name: patchV1TeamsTeamId
  /v1/teams/{team_id}/escalation_policies:
    get:
      tags:
        - teams
      summary: List escalation policies
      description: List all Signals escalation policies for a team.
      operationId: getV1TeamsTeamIdEscalationPolicies
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: query
          in: query
          description: A query string for searching through the list of escalation policies.
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: List all Signals escalation policies for a team.
          content: {}
    post:
      tags:
        - teams
      summary: Create an escalation policy
      description: Create a Signals escalation policy for a team.
      operationId: postV1TeamsTeamIdEscalationPolicies
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1TeamsTeamIdEscalationPolicies'
        required: true
      responses:
        "201":
          description: Create a Signals escalation policy for a team.
          content: {}
      x-codegen-request-body-name: postV1TeamsTeamIdEscalationPolicies
  /v1/teams/{team_id}/escalation_policies/{id}:
    get:
      tags:
        - teams
      summary: Get an escalation policy
      description: Get a Signals escalation policy by ID
      operationId: getV1TeamsTeamIdEscalationPoliciesId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get a Signals escalation policy by ID
          content: {}
    delete:
      tags:
        - teams
      summary: Delete an escalation policy
      description: Delete a Signals escalation policy by ID
      operationId: deleteV1TeamsTeamIdEscalationPoliciesId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete a Signals escalation policy by ID
          content: {}
    patch:
      tags:
        - teams
      summary: Update an escalation policy
      description: Update a Signals escalation policy by ID
      operationId: patchV1TeamsTeamIdEscalationPoliciesId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1TeamsTeamIdEscalationPoliciesId'
        required: true
      responses:
        "200":
          description: Update a Signals escalation policy by ID
          content: {}
      x-codegen-request-body-name: patchV1TeamsTeamIdEscalationPoliciesId
  /v1/teams/{team_id}/on_call_schedules:
    get:
      tags:
        - teams
      summary: List on-call schedules
      description: List all Signals on-call schedules for a team.
      operationId: getV1TeamsTeamIdOnCallSchedules
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: query
          in: query
          description: A query string for searching through the list of on-call schedules.
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: List all Signals on-call schedules for a team.
          content: {}
    post:
      tags:
        - teams
      summary: Create an on-call schedule
      description: Create a Signals on-call schedule for a team.
      operationId: postV1TeamsTeamIdOnCallSchedules
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1TeamsTeamIdOnCallSchedules'
        required: true
      responses:
        "201":
          description: Create a Signals on-call schedule for a team.
          content: {}
      x-codegen-request-body-name: postV1TeamsTeamIdOnCallSchedules
  /v1/teams/{team_id}/on_call_schedules/{schedule_id}:
    get:
      tags:
        - teams
      summary: Get an on-call schedule
      description: Get a Signals on-call schedule by ID
      operationId: getV1TeamsTeamIdOnCallSchedulesScheduleId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get a Signals on-call schedule by ID
          content: {}
    delete:
      tags:
        - teams
      summary: Delete an on-call schedule
      description: Delete a Signals on-call schedule by ID
      operationId: deleteV1TeamsTeamIdOnCallSchedulesScheduleId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete a Signals on-call schedule by ID
          content: {}
    patch:
      tags:
        - teams
      summary: Update an on-call schedule
      description: Update a Signals on-call schedule by ID
      operationId: patchV1TeamsTeamIdOnCallSchedulesScheduleId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1TeamsTeamIdOnCallSchedulesScheduleId'
        required: true
      responses:
        "200":
          description: Update a Signals on-call schedule by ID
          content: {}
      x-codegen-request-body-name: patchV1TeamsTeamIdOnCallSchedulesScheduleId
  /v1/teams/{team_id}/on_call_schedules/{schedule_id}/shifts:
    post:
      tags:
        - teams
      summary: Create an on-call shift
      description: Create a Signals on-call shift in a schedule.
      operationId: postV1TeamsTeamIdOnCallSchedulesScheduleIdShifts
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1TeamsTeamIdOnCallSchedulesScheduleIdShifts'
        required: true
      responses:
        "201":
          description: Create a Signals on-call shift in a schedule.
          content: {}
      x-codegen-request-body-name: postV1TeamsTeamIdOnCallSchedulesScheduleIdShifts
  /v1/teams/{team_id}/on_call_schedules/{schedule_id}/shifts/{id}:
    get:
      tags:
        - teams
      summary: Get an on-call shift
      description: Get a Signals on-call shift by ID
      operationId: getV1TeamsTeamIdOnCallSchedulesScheduleIdShiftsId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get a Signals on-call shift by ID
          content: {}
    delete:
      tags:
        - teams
      summary: Delete an on-call shift
      description: Delete a Signals on-call shift by ID
      operationId: deleteV1TeamsTeamIdOnCallSchedulesScheduleIdShiftsId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete a Signals on-call shift by ID
          content: {}
    patch:
      tags:
        - teams
      summary: Update an on-call shift
      description: Update a Signals on-call shift by ID
      operationId: patchV1TeamsTeamIdOnCallSchedulesScheduleIdShiftsId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1TeamsTeamIdOnCallSchedulesScheduleIdShiftsId'
        required: true
      responses:
        "200":
          description: Update a Signals on-call shift by ID
          content: {}
      x-codegen-request-body-name: patchV1TeamsTeamIdOnCallSchedulesScheduleIdShiftsId
  /v1/teams/{team_id}/signal_rules:
    get:
      tags:
        - teams
      summary: List Signals rules
      description: List all Signals rules for a team.
      operationId: getV1TeamsTeamIdSignalRules
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: query
          in: query
          description: A query string for searching through the list of alerting rules.
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: List all Signals rules for a team.
          content: {}
    post:
      tags:
        - teams
      summary: Create a Signals rule
      description: Create a Signals rule for a team.
      operationId: postV1TeamsTeamIdSignalRules
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1TeamsTeamIdSignalRules'
        required: true
      responses:
        "201":
          description: Create a Signals rule for a team.
          content: {}
      x-codegen-request-body-name: postV1TeamsTeamIdSignalRules
  /v1/teams/{team_id}/signal_rules/{id}:
    get:
      tags:
        - teams
      summary: Get a Signals rule
      description: Get a Signals rule by ID.
      operationId: getV1TeamsTeamIdSignalRulesId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get a Signals rule by ID.
          content: {}
    delete:
      tags:
        - teams
      summary: Delete a Signals rule
      description: Delete a Signals rule by ID
      operationId: deleteV1TeamsTeamIdSignalRulesId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete a Signals rule by ID
          content: {}
    patch:
      tags:
        - teams
      summary: Update a Signals rule
      description: Update a Signals rule by ID
      operationId: patchV1TeamsTeamIdSignalRulesId
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1TeamsTeamIdSignalRulesId'
        required: true
      responses:
        "200":
          description: Update a Signals rule by ID
          content: {}
      x-codegen-request-body-name: patchV1TeamsTeamIdSignalRulesId
  /v1/changes:
    get:
      tags:
        - changes
      description: Lists all changes
      operationId: getV1Changes
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: query
          in: query
          description: Filter changes by summary
          schema:
            type: string
      responses:
        "200":
          description: Lists all changes
          content: {}
    post:
      tags:
        - changes
      description: Create a new change entry
      operationId: postV1Changes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Changes'
        required: true
      responses:
        "201":
          description: Create a new change entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEntity'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-codegen-request-body-name: postV1Changes
  /v1/changes/{change_id}:
    delete:
      tags:
        - changes
      description: Archive a change entry
      operationId: deleteV1ChangesChangeId
      parameters:
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Archive a change entry
          content: {}
    patch:
      tags:
        - changes
      description: Update a change entry
      operationId: patchV1ChangesChangeId
      parameters:
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1ChangesChangeId'
        required: true
      responses:
        "200":
          description: Update a change entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEntity'
      x-codegen-request-body-name: patchV1ChangesChangeId
  /v1/changes/{change_id}/identities:
    get:
      tags:
        - changes
      description: Retrieve all identities for the change
      operationId: getV1ChangesChangeIdIdentities
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve all identities for the change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeIdentityEntityPaginated'
    post:
      tags:
        - changes
      description: Create an identity for this change
      operationId: postV1ChangesChangeIdIdentities
      parameters:
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1ChangesChangeIdIdentities'
        required: true
      responses:
        "201":
          description: Create an identity for this change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeIdentityEntity'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-codegen-request-body-name: postV1ChangesChangeIdIdentities
  /v1/changes/{change_id}/identities/{identity_id}:
    delete:
      tags:
        - changes
      description: Delete an identity
      operationId: deleteV1ChangesChangeIdIdentitiesIdentityId
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            type: string
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete an identity
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
    patch:
      tags:
        - changes
      description: Update an identity
      operationId: patchV1ChangesChangeIdIdentitiesIdentityId
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            type: string
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1ChangesChangeIdIdentitiesIdentityId'
        required: true
      responses:
        "200":
          description: Update an identity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeIdentityEntity'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-codegen-request-body-name: patchV1ChangesChangeIdIdentitiesIdentityId
  /v1/changes/events:
    get:
      tags:
        - changes
      summary: List change events
      description: 'List change events for the organization. Note: Not all information is included on a change event like attachments and related changes. You must fetch a change event separately to retrieve all of the information about it'
      operationId: getV1ChangesEvents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: saved_search_id
          in: query
          description: The id of a previously saved search.
          schema:
            type: string
        - name: query
          in: query
          description: A text query for change events
          schema:
            type: string
        - name: labels
          in: query
          description: A comma separated list of label key / values in the format of "key=value,key2=value2". To filter change events that have a key (with no specific value), omit the value
          schema:
            type: string
        - name: environments
          in: query
          description: A comma separated list of environment IDs
          schema:
            type: string
        - name: services
          in: query
          description: A comma separated list of service IDs
          schema:
            type: string
        - name: starts_at
          in: query
          description: The start time to start returning change events from
          schema:
            type: string
        - name: ends_at
          in: query
          description: The end time to return change events up to
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: 'List change events for the organization. Note: Not all information is included on a change event like attachments and related changes. You must fetch a change event separately to retrieve all of the information about it'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEventSlimEntityPaginated'
    post:
      tags:
        - changes
      summary: Create a change event
      description: Create a change event
      operationId: postV1ChangesEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1ChangesEvents'
        required: true
      responses:
        "201":
          description: Create a change event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEventEntity'
      x-codegen-request-body-name: postV1ChangesEvents
  /v1/changes/events/{change_event_id}:
    get:
      tags:
        - changes
      summary: Retrieve a change event
      description: Retrieve a change event
      operationId: getV1ChangesEventsChangeEventId
      parameters:
        - name: change_event_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve a change event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEventEntity'
    delete:
      tags:
        - changes
      summary: Delete a change event
      description: Delete a change event
      operationId: deleteV1ChangesEventsChangeEventId
      parameters:
        - name: change_event_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete a change event
          content: {}
    patch:
      tags:
        - changes
      summary: Update a change event
      description: Update a change event
      operationId: patchV1ChangesEventsChangeEventId
      parameters:
        - name: change_event_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1ChangesEventsChangeEventId'
        required: true
      responses:
        "200":
          description: Update a change event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEventEntity'
      x-codegen-request-body-name: patchV1ChangesEventsChangeEventId
  /v1/change_types:
    get:
      tags:
        - change_types
      description: Lists all change types
      operationId: getV1ChangeTypes
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Lists all change types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeTypeEntityPaginated'
  /v1/entitlements:
    get:
      tags:
        - entitlements
      description: Retrieve all entitlements
      operationId: getV1Entitlements
      parameters:
        - name: name
          in: query
          description: Name of Entitlement
          schema:
            type: string
        - name: type
          in: query
          description: Type of Entitlement
          schema:
            type: string
            enum:
              - quota
              - access
      responses:
        "200":
          description: Retrieve all entitlements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementEntityPaginated'
  /v1/incidents:
    get:
      tags:
        - incidents
      summary: List all incidents
      description: List all of the incidents in the organization
      operationId: getV1Incidents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: conditions
          in: query
          description: A JSON string that defines 'logic' and 'user_data'
          schema:
            type: string
        - name: environments
          in: query
          description: A comma separated list of environment IDs or 'is_empty' to filter for incidents with no impacted environments
          schema:
            type: string
        - name: services
          in: query
          description: A comma separated list of service IDs or 'is_empty' to filter for incidents with no impacted services
          schema:
            type: string
        - name: functionalities
          in: query
          description: A comma separated list of functionality IDs or 'is_empty' to filter for incidents with no impacted functionalities
          schema:
            type: string
        - name: excluded_infrastructure_ids
          in: query
          description: A comma separated list of infrastructure IDs. Returns incidents that do not have the following infrastructure ids associated with them.
          schema:
            type: string
        - name: teams
          in: query
          description: A comma separated list of team IDs
          schema:
            type: string
        - name: assigned_teams
          in: query
          description: A comma separated list of IDs for assigned teams or 'is_empty' to filter for incidents with no active team assignments
          schema:
            type: string
        - name: status
          in: query
          description: Incident status
          schema:
            type: string
        - name: start_date
          in: query
          description: Filters for incidents that started on or after this date
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Filters for incidents that started on or before this date
          schema:
            type: string
            format: date
        - name: resolved_at_or_after
          in: query
          description: Filters for incidents that were resolved at or after this time. Combine this with the `current_milestones` parameter if you wish to omit incidents that were re-opened and are still active.
          schema:
            type: string
            format: date-time
        - name: resolved_at_or_before
          in: query
          description: Filters for incidents that were resolved at or before this time. Combine this with the `current_milestones` parameter if you wish to omit incidents that were re-opened and are still active.
          schema:
            type: string
            format: date-time
        - name: closed_at_or_after
          in: query
          description: Filters for incidents that were closed at or after this time
          schema:
            type: string
            format: date-time
        - name: closed_at_or_before
          in: query
          description: Filters for incidents that were closed at or before this time
          schema:
            type: string
            format: date-time
        - name: created_at_or_after
          in: query
          description: Filters for incidents that were created at or after this time
          schema:
            type: string
            format: date-time
        - name: created_at_or_before
          in: query
          description: Filters for incidents that were created at or before this time
          schema:
            type: string
            format: date-time
        - name: query
          in: query
          description: A text query for an incident that searches on name, summary, and desciption
          schema:
            type: string
        - name: name
          in: query
          description: A query to search incidents by their name
          schema:
            type: string
        - name: saved_search_id
          in: query
          description: The id of a previously saved search.
          schema:
            type: string
        - name: priorities
          in: query
          description: A text value of priority
          schema:
            type: string
        - name: priority_not_set
          in: query
          description: Flag for including incidents where priority has not been set
          schema:
            type: boolean
        - name: severities
          in: query
          description: A text value of severity
          schema:
            type: string
        - name: severity_not_set
          in: query
          description: Flag for including incidents where severity has not been set
          schema:
            type: boolean
        - name: current_milestones
          in: query
          description: A comma separated list of current milestones
          schema:
            type: string
        - name: tags
          in: query
          description: A comma separated list of tags
          schema:
            type: string
        - name: tag_match_strategy
          in: query
          description: A matching strategy for the tags provided
          schema:
            type: string
            enum:
              - any
              - match_all
              - exclude
        - name: archived
          in: query
          description: Return archived incidents
          schema:
            type: boolean
        - name: updated_after
          in: query
          description: Filters for incidents that were updated after this date
          schema:
            type: string
            format: date-time
        - name: updated_before
          in: query
          description: Filters for incidents that were updated before this date
          schema:
            type: string
            format: date-time
        - name: incident_type_id
          in: query
          description: A comma separated list of incident type IDs
          schema:
            type: string
      responses:
        "200":
          description: List all of the incidents in the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntityPaginated'
    post:
      tags:
        - incidents
      summary: Create an incident
      description: Create a new incident
      operationId: postV1Incidents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Incidents'
        required: true
      responses:
        "201":
          description: Create a new incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntity'
      x-codegen-request-body-name: postV1Incidents
  /v1/incidents/{incident_id}/channel:
    get:
      tags:
        - incidents
      summary: Retrieve chat channel information for an incident
      description: Gives chat channel information for the specified incident
      operationId: getV1IncidentsIncidentIdChannel
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Gives chat channel information for the specified incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_ChannelEntity'
  /v1/incidents/{incident_id}/close:
    put:
      tags:
        - incidents
      summary: Close an incident
      description: Closes an incident and optionally close all children
      operationId: putV1IncidentsIncidentIdClose
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Closes an incident and optionally close all children
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntity'
  /v1/incidents/{incident_id}/resolve:
    put:
      tags:
        - incidents
      summary: Resolve an active incident
      description: Resolves a currently active incident
      operationId: putV1IncidentsIncidentIdResolve
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                milestone:
                  type: string
                  description: The slug of any milestone in the post-incident or closed phase to set on the incident (and its children, if `resolve_children` os set). Must be one of the configured milestones available on this incident.
      responses:
        "200":
          description: Resolves a currently active incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntity'
  /v1/incidents/{incident_id}:
    get:
      tags:
        - incidents
      summary: Retrieve an incident
      description: Retrieve a single incident from its ID
      operationId: getV1IncidentsIncidentId
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve a single incident from its ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntity'
    delete:
      tags:
        - incidents
      summary: Archive an incident
      description: Archives an incident which will hide it from lists and metrics
      operationId: deleteV1IncidentsIncidentId
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Archives an incident which will hide it from lists and metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntity'
    patch:
      tags:
        - incidents
      summary: Update an incident
      description: Updates an incident with provided parameters
      operationId: patchV1IncidentsIncidentId
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1IncidentsIncidentId'
        required: true
      responses:
        "200":
          description: Updates an incident with provided parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntity'
      x-codegen-request-body-name: patchV1IncidentsIncidentId
  /v1/incidents/{incident_id}/unarchive:
    post:
      tags:
        - incidents
      summary: Unarchives an incident
      description: Unarchives an incident
      operationId: postV1IncidentsIncidentIdUnarchive
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Unarchives an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentEntity'
  /v1/incidents/{incident_id}/alerts:
    get:
      tags:
        - incidents
      summary: List alerts on an incident
      description: List alerts that have been attached to an incident
      operationId: getV1IncidentsIncidentIdAlerts
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List alerts that have been attached to an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_AlertEntityPaginated'
    post:
      tags:
        - incidents
      summary: Attach an alert to an incident
      description: Add an alert to an incident. FireHydrant needs to have ingested the alert from a third party system in order to attach it to the incident.
      operationId: postV1IncidentsIncidentIdAlerts
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Array of alert IDs to be assigned to the incident
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "204":
          description: Add an alert to an incident. FireHydrant needs to have ingested the alert from a third party system in order to attach it to the incident.
          content: {}
      x-codegen-request-body-name: alert_ids
  /v1/incidents/{incident_id}/alerts/{incident_alert_id}/primary:
    patch:
      tags:
        - incidents
      summary: Set an alert as primary
      description: Setting an alert as primary will overwrite milestone times in the FireHydrant incident with times included in the primary alert. Services attached to the primary alert will also be automatically added to the incident.
      operationId: patchV1IncidentsIncidentIdAlertsIncidentAlertIdPrimary
      parameters:
        - name: incident_alert_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1IncidentsIncidentIdAlertsIncidentAlertIdPrimary'
        required: true
      responses:
        "200":
          description: Setting an alert as primary will overwrite milestone times in the FireHydrant incident with times included in the primary alert. Services attached to the primary alert will also be automatically added to the incident.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_AlertEntity'
      x-codegen-request-body-name: patchV1IncidentsIncidentIdAlertsIncidentAlertIdPrimary
  /v1/incidents/{incident_id}/alerts/{incident_alert_id}:
    delete:
      tags:
        - incidents
      summary: Remove an alert
      description: Remove an alert from an incident
      operationId: deleteV1IncidentsIncidentIdAlertsIncidentAlertId
      parameters:
        - name: incident_alert_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Remove an alert from an incident
          content: {}
  /v1/incidents/{incident_id}/milestones/bulk_update:
    put:
      tags:
        - incidents
      summary: Update milestone times
      description: |
        Update milestone times in bulk for a given incident. All milestone
        times for an incident must occur in chronological order
        corresponding to the configured order of milestones. If the result
        of this request would cause any milestone(s) to appear out of place,
        a 422 response will instead be returned. This includes milestones
        not explicitly submitted or updated in this request.
      operationId: putV1IncidentsIncidentIdMilestonesBulkUpdate
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1IncidentsIncidentIdMilestonesBulkUpdate'
        required: true
      responses:
        "200":
          description: |
            Update milestone times in bulk for a given incident. All milestone
            times for an incident must occur in chronological order
            corresponding to the configured order of milestones. If the result
            of this request would cause any milestone(s) to appear out of place,
            a 422 response will instead be returned. This includes milestones
            not explicitly submitted or updated in this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_MilestoneEntityPaginated'
      x-codegen-request-body-name: putV1IncidentsIncidentIdMilestonesBulkUpdate
  /v1/incidents/{incident_id}/milestones:
    get:
      tags:
        - incidents
      summary: List milestones on an incident
      description: List times and durations for each milestone on an incident
      operationId: getV1IncidentsIncidentIdMilestones
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List times and durations for each milestone on an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_MilestoneEntityPaginated'
  /v1/incidents/{incident_id}/related_change_events:
    get:
      tags:
        - incidents
      summary: List related changes on an incident
      description: List related changes that have been attached to an incident
      operationId: getV1IncidentsIncidentIdRelatedChangeEvents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: type
          in: query
          description: The type of the relation to the incident
          schema:
            type: string
            enum:
              - caused
              - fixed
              - suspect
              - dismissed
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List related changes that have been attached to an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_RelatedChangeEventEntityPaginated'
    post:
      tags:
        - incidents
      summary: Add a related change to an incident
      description: Add a related change to an incident. Changes added to an incident can be causes, fixes, or suspects. To remove a change from an incident, the type field should be set to dismissed.
      operationId: postV1IncidentsIncidentIdRelatedChangeEvents
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1IncidentsIncidentIdRelatedChangeEvents'
        required: true
      responses:
        "201":
          description: Add a related change to an incident. Changes added to an incident can be causes, fixes, or suspects. To remove a change from an incident, the type field should be set to dismissed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_RelatedChangeEventEntity'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        "409":
          description: Already Added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-codegen-request-body-name: postV1IncidentsIncidentIdRelatedChangeEvents
  /v1/incidents/{incident_id}/related_change_events/{related_change_event_id}:
    patch:
      tags:
        - incidents
      summary: Update a change attached to an incident
      description: Update a change attached to an incident
      operationId: patchV1IncidentsIncidentIdRelatedChangeEventsRelatedChangeEventId
      parameters:
        - name: related_change_event_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1IncidentsIncidentIdRelatedChangeEventsRelatedChangeEventId'
        required: true
      responses:
        "200":
          description: Update a change attached to an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_RelatedChangeEventEntity'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        "409":
          description: Already Added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-codegen-request-body-name: patchV1IncidentsIncidentIdRelatedChangeEventsRelatedChangeEventId
  /v1/incidents/{incident_id}/status_pages:
    get:
      tags:
        - incidents
      summary: List status pages on an incident
      description: List status pages that are attached to an incident
      operationId: getV1IncidentsIncidentIdStatusPages
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List status pages that are attached to an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_StatusPageEntityPaginated'
    post:
      tags:
        - incidents
      summary: Add a status page to an incident
      description: Add a status page to an incident.
      operationId: postV1IncidentsIncidentIdStatusPages
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1IncidentsIncidentIdStatusPages'
        required: true
      responses:
        "201":
          description: Add a status page to an incident.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents_StatusPageEntity'
      x-codegen-request-body-name: postV1IncidentsIncidentIdStatusPages
  /v1/incidents/{incident_id}/status_pages/{status_page_id}:
    delete:
      tags:
        - incidents
      summary: Remove a status page incident attached to an incident
      description: Remove a status page incident attached to an incident
      operationId: deleteV1IncidentsIncidentIdStatusPagesStatusPageId
      parameters:
        - name: status_page_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Remove a status page incident attached to an incident
          content: {}
  /v1/incidents/{incident_id}/task_lists:
    post:
      tags:
        - incidents
      summary: Adds tasks to incident from task list
      description: Add all tasks from list to incident
      operationId: postV1IncidentsIncidentIdTaskLists
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1IncidentsIncidentIdTaskLists'
        required: true
      responses:
        "201":
          description: Add all tasks from list to incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskEntity'
      x-codegen-request-body-name: postV1IncidentsIncidentIdTaskLists
  /v1/incidents/{incident_id}/tasks:
    get:
      tags:
        - incidents
      summary: Retrieve tasks
      description: Retrieve a list of all tasks for a specific incident
      operationId: getV1IncidentsIncidentIdTasks
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve a list of all tasks for a specific incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskEntityPaginated'
    post:
      tags:
        - incidents
      summary: Creates a new task
      description: Create a task
      operationId: postV1IncidentsIncidentIdTasks
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1IncidentsIncidentIdTasks'
        required: true
      responses:
        "201":
          description: Create a task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskEntity'
      x-codegen-request-body-name: postV1IncidentsIncidentIdTasks
  /v1/incidents/{incident_id}/tasks/{task_id}:
    get:
      tags:
        - incidents
      summary: Retrieve a single task for an incident
      description: Retrieve a single task for an incident
      operationId: getV1IncidentsIncidentIdTasksTaskId
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve a single task for an incident
          content: {}
    delete:
      tags:
        - incidents
      summary: Deletes a task
      description: Delete a task
      operationId: deleteV1IncidentsIncidentIdTasksTaskId
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete a task
          content: {}
    patch:
      tags:
        - incidents
      summary: Update a task
      description: Update a task's attributes
      operationId: patchV1IncidentsIncidentIdTasksTaskId
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1IncidentsIncidentIdTasksTaskId'
        required: true
      responses:
        "200":
          description: Update a task's attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskEntity'
      x-codegen-request-body-name: patchV1IncidentsIncidentIdTasksTaskId
  /v1/incidents/{incident_id}/tasks/{task_id}/convert:
    post:
      tags:
        - incidents
      summary: Creates a follow-up from a task, removing the task in the process
      description: Convert a task to a follow-up
      operationId: postV1IncidentsIncidentIdTasksTaskIdConvert
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1IncidentsIncidentIdTasksTaskIdConvert'
        required: true
      responses:
        "201":
          description: Convert a task to a follow-up
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskEntityPaginated'
      x-codegen-request-body-name: postV1IncidentsIncidentIdTasksTaskIdConvert
  /v1/incidents/{incident_id}/links:
    get:
      tags:
        - incidents
      summary: List all the editable links on an incident
      description: List all the editable, external incident links attached to an incident
      operationId: getV1IncidentsIncidentIdLinks
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List all the editable, external incident links attached to an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachments_LinkEntityPaginated'
    post:
      tags:
        - incidents
      summary: Add a link to the incident
      description: Allows adding adhoc links to an incident as an attachment
      operationId: postV1IncidentsIncidentIdLinks
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1IncidentsIncidentIdLinks'
        required: true
      responses:
        "201":
          description: Allows adding adhoc links to an incident as an attachment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachments_LinkEntity'
      x-codegen-request-body-name: postV1IncidentsIncidentIdLinks
  /v1/incidents/{incident_id}/links/{link_id}:
    put:
      tags:
        - incidents
      summary: Updates the external incident link
      description: Updates the external incident link attributes
      operationId: putV1IncidentsIncidentIdLinksLinkId
      parameters:
        - name: link_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1IncidentsIncidentIdLinksLinkId'
        required: true
      responses:
        "200":
          description: Updates the external incident link attributes
          content: {}
      x-codegen-request-body-name: putV1IncidentsIncidentIdLinksLinkId
    delete:
      tags:
        - incidents
      summary: Deletes the external incident link
      description: Deletes the external incident link
      operationId: deleteV1IncidentsIncidentIdLinksLinkId
      parameters:
        - name: link_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deletes the external incident link
          content: {}
  /v1/incidents/{incident_id}/transcript:
    get:
      tags:
        - incidents
      summary: Lists all of the messages in the incident's transcript
      description: Retrieve the transcript for a specific incident
      operationId: getV1IncidentsIncidentIdTranscript
      parameters:
        - name: after
          in: query
          description: The ID of the transcript entry to start after.
          schema:
            type: string
        - name: before
          in: query
          description: The ID of the transcript entry to start before.
          schema:
            type: string
        - name: sort
          in: query
          description: The order to sort the transcript entries.
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve the transcript for a specific incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAPI_V1_Incidents_TranscriptEntity'
  /v1/incidents/{incident_id}/transcript/{transcript_id}:
    delete:
      tags:
        - incidents
      operationId: deleteV1IncidentsIncidentIdTranscriptTranscriptId
      parameters:
        - name: transcript_id
          in: path
          required: true
          schema:
            type: string
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: deleted Transcript
          content: {}
  /v1/incidents/{incident_id}/similar:
    get:
      tags:
        - incidents
      operationId: getV1IncidentsIncidentIdSimilar
      parameters:
        - name: threshold
          in: query
          schema:
            type: number
            format: float
            default: 0.2
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 5
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: get Similar(s)
          content: {}
  /v1/incidents/{incident_id}/attachments:
    get:
      tags:
        - incidents
      operationId: getV1IncidentsIncidentIdAttachments
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
        - name: attachable_type
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: get Attachment(s)
          content: {}
    post:
      tags:
        - incidents
      summary: Add an attachment to the incident timeline
      description: Allows adding image attachments to an incident
      operationId: postV1IncidentsIncidentIdAttachments
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
                description:
                  type: string
                occurred_at:
                  type: string
                  format: date-time
                vote_direction:
                  type: string
                  enum:
                    - up
                    - down
        required: true
      responses:
        "201":
          description: Allows adding image attachments to an incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentAttachmentEntity'
  /v1/incidents/{incident_id}/events:
    get:
      tags:
        - incidents
      summary: List events for an incident
      description: List all events for an incident. An event is a timeline entry. This can be filtered with params to retrieve events of a certain type.
      operationId: getV1IncidentsIncidentIdEvents
      parameters:
        - name: incident_id
          in: path
          required: true
          schema:
            type: string
        - name: types
          in: query
          description: |-
            A comma separated list of types of events to filter by. Possible values are:
             - `add_task_list`: Task list was added
             - `alert_event`: Someone was paged or took action on a linked alert
             - `alert_linked`: An alert was linked to the incident
             - `bulk_milestone_update`: When a milestone change occurs with no other changes
             - `bulk_update`: When an incident note/update is posted or when impacted components are updated. If other changes occur together with either of these changes (e.g., milestone change), they are all bundled together into a bulk_update
             - `change_type`: Updates to associated change events
             - `chat_message`: Any chat message event in a linked chat app like Slack or MS Teams
             - `children_changed`: When adding or updating child related incidents
             - `external_link`: When an external link is added or updated
             - `general_update`: Currently only describes Runbook stoppage events
[...]
