openapi: 3.0.1
x-speakeasy-test: true
info:
    title: FireHydrant API
    version: 0.0.1
servers:
    - url: https://api.firehydrant.io/
security:
    - api_key: []
tags:
    - name: Incidents
      description: Operations related to Incidents
    - name: Account Settings
      description: Operations related to Account Settings
    - name: Incident Settings
      description: Operations related to Incident Settings
    - name: Alerts
      description: Operations related to Alerts
    - name: Services
      description: Operations related to Services
    - name: Environments
      description: Operations related to Environments
    - name: Functionalities
      description: Operations related to Functionalities
    - name: Teams
      description: Operations related to Teams
    - name: Users
      description: Operations related to Users
    - name: Changes
      description: Operations related to Changes
    - name: Runbooks
      description: Operations related to Runbooks
    - name: Tasks
      description: Operations related to Tasks
    - name: Status Pages
      description: Operations related to Status Pages
    - name: Communication
      description: Operations related to Communication
    - name: Metrics/Reporting
      description: Operations related to Metrics/Reporting
    - name: Integrations
      description: Operations related to Integrations
    - name: Webhooks
      description: Operations related to Webhooks
    - name: Conversations
      description: Operations related to Conversations
    - name: Retrospectives
      description: Operations related to Retrospectives
    - name: Signals
      description: Operations related to Signals
    - name: SCIM
      description: Operations related to SCIM
paths:
    "/v1/ai/preferences":
        get:
            tags:
                - Account Settings
            summary: Get AI preferences
            description: Retrieves the current AI preferences
            operationId: getAiPreferences
            responses:
                '200':
                    description: Retrieves the current AI preferences
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/AI_Entities_PreferencesEntity"
        patch:
            tags:
                - Account Settings
            summary: Update AI preferences
            description: Updates the AI preferences
            operationId: updateAiPreferences
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                ai:
                                    type: boolean
                                    description: Whether to enable AI features
                                summaries:
                                    type: boolean
                                    description: Whether to enable incident summaries
                                description:
                                    type: boolean
                                    description: Whether to enable incident descriptions
                                impact:
                                    type: boolean
                                    description: Whether to enable incident impact
                                updates:
                                    type: boolean
                                    description: Whether to enable incident updates
                                retros:
                                    type: boolean
                                    description: Whether to enable incident retrospectives
                                followups:
                                    type: boolean
                                    description: Whether to enable incident followups
                                similar_incidents:
                                    type: boolean
                                    description: Whether to enable similar incidents
            responses:
                '200':
                    description: Updates the AI preferences
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/AI_Entities_PreferencesEntity"
    "/v1/ai/summarize_incident/{incident_id}/{generated_summary_id}/vote":
        put:
            tags:
                - Account Settings
            operationId: voteOnIncidentSummary
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: generated_summary_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - direction
                            type: object
                            properties:
                                direction:
                                    type: string
                                    enum:
                                        - up
                                        - down
                required: true
            responses:
                '200':
                    description: updated Vote
                    content: {}
            summary: Vote on an AI-generated incident summary
    "/v1/ai/summarize_incident/{incident_id}/{generated_summary_id}/voted":
        get:
            tags:
                - Incidents
            operationId: getIncidentAiSummaryVoteStatus
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: generated_summary_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: get Voted(s)
                    content: {}
            summary: Get the vote status for an AI-generated incident summary
    "/v1/alerts":
        get:
            tags:
                - Alerts
            summary: List alerts
            description: Retrieve all alerts from third parties
            operationId: listAlerts
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: query
                  in: query
                  description: A text query for alerts
                  schema:
                    type: string
                - name: users
                  in: query
                  description: A comma separated list of user IDs. This currently only works for Signals alerts.
                  schema:
                    type: string
                - name: teams
                  in: query
                  description: A comma separated list of team IDs. This currently only works for Signals alerts.
                  schema:
                    type: string
                - name: signal_rules
                  in: query
                  description: A comma separated list of signals rule IDs. This currently only works for Signals alerts.
                  schema:
                    type: string
                - name: environments
                  in: query
                  description: A comma separated list of environment IDs. This currently only works for Signals alerts.
                  schema:
                    type: string
                - name: functionalities
                  in: query
                  description: A comma separated list of functionality IDs. This currently only works for Signals alerts.
                  schema:
                    type: string
                - name: services
                  in: query
                  description: A comma separated list of service IDs. This currently only works for Signals alerts.
                  schema:
                    type: string
                - name: tags
                  in: query
                  description: A comma separated list of tags. This currently only works for Signals alerts.
                  schema:
                    type: string
                - name: tag_match_strategy
                  in: query
                  description: The strategy to match tags. `any` will return alerts that have at least one of the supplied tags, `match_all` will return only alerts that have all of the supplied tags, and `exclude` will only return alerts that have none of the supplied tags. This currently only works for Signals alerts.
                  schema:
                    type: string
                    enum:
                        - any
                        - match_all
                        - exclude
                - name: statuses
                  in: query
                  description: 'A comma separated list of statuses to filter by. Valid statuses are: opened, acknowledged, resolved, ignored, or expired'
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve all alerts from third parties
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Alerts_AlertEntityPaginated"
    "/v1/alerts/{alert_id}":
        get:
            tags:
                - Alerts
            summary: Get an alert
            description: Retrieve a single alert
            operationId: getAlert
            parameters:
                - name: alert_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve a single alert
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Alerts_AlertEntity"
    "/v1/bootstrap":
        get:
            tags:
                - Account Settings
            operationId: getBootstrap
            responses:
                '200':
                    description: get Bootstrap(s)
                    content: {}
            summary: Get initial application configuration and settings
    "/v1/catalogs/{catalog_id}/ingest":
        post:
            tags:
                - Services
            summary: Ingest service catalog data
            description: Accepts catalog data in the configured format and asyncronously processes the data to incorporate changes into service catalog.
            operationId: ingestCatalogData
            parameters:
                - name: catalog_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1CatalogsCatalogIdIngest"
                required: true
            responses:
                '201':
                    description: Accepts catalog data in the configured format and asyncronously processes the data to incorporate changes into service catalog.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Imports_ImportEntity"
            x-codegen-request-body-name: postV1CatalogsCatalogIdIngest
    "/v1/catalogs/{catalog_id}/refresh":
        get:
            tags:
                - Services
            summary: Refresh a service catalog
            description: Schedules an async task to re-import catalog info and update catalog data accordingly.
            operationId: refreshCatalog
            parameters:
                - name: catalog_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Schedules an async task to re-import catalog info and update catalog data accordingly.
                    content: {}
    "/v1/change_types":
        get:
            tags:
                - Changes
            description: Lists all change types
            operationId: listChangeTypes
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: Lists all change types
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeTypeEntityPaginated"
            summary: List change types
    "/v1/changes":
        get:
            tags:
                - Changes
            description: Lists all changes
            operationId: listChanges
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: query
                  in: query
                  description: Filter changes by summary
                  schema:
                    type: string
            responses:
                '200':
                    description: Lists all changes
                    content: {}
            summary: List changes
        post:
            tags:
                - Changes
            description: Create a new change entry
            operationId: createChange
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1Changes"
                required: true
            responses:
                '201':
                    description: Create a new change entry
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeEntity"
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ErrorEntity"
            x-codegen-request-body-name: postV1Changes
            summary: Create a change
    "/v1/changes/events":
        get:
            tags:
                - Changes
            summary: List change events
            description: 'List change events for the organization. Note: Not all information is included on a change event like attachments and related changes. You must fetch a change event separately to retrieve all of the information about it'
            operationId: listChangeEvents
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: saved_search_id
                  in: query
                  description: The id of a previously saved search.
                  schema:
                    type: string
                - name: query
                  in: query
                  description: A text query for change events
                  schema:
                    type: string
                - name: labels
                  in: query
                  description: A comma separated list of label key / values in the format of "key=value,key2=value2". To filter change events that have a key (with no specific value), omit the value
                  schema:
                    type: string
                - name: environments
                  in: query
                  description: A comma separated list of environment IDs
                  schema:
                    type: string
                - name: services
                  in: query
                  description: A comma separated list of service IDs
                  schema:
                    type: string
                - name: starts_at
                  in: query
                  description: The start time to start returning change events from
                  schema:
                    type: string
                - name: ends_at
                  in: query
                  description: The end time to return change events up to
                  schema:
                    type: string
                    format: date-time
            responses:
                '200':
                    description: 'List change events for the organization. Note: Not all information is included on a change event like attachments and related changes. You must fetch a change event separately to retrieve all of the information about it'
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeEventSlimEntityPaginated"
        post:
            tags:
                - Changes
            summary: Create a change event
            description: Create a change event
            operationId: createChangeEvent
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/ChangesEvents"
                required: true
            responses:
                '201':
                    description: Create a change event
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeEventEntity"
            x-codegen-request-body-name: postV1ChangesEvents
    "/v1/changes/events/{change_event_id}":
        get:
            tags:
                - Changes
            summary: Get a change event
            description: Retrieve a change event
            operationId: getChangeEvent
            parameters:
                - name: change_event_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve a change event
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeEventEntity"
        delete:
            tags:
                - Changes
            summary: Delete a change event
            description: Delete a change event
            operationId: deleteChangeEvent
            parameters:
                - name: change_event_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '204':
                    description: Delete a change event
                    content: {}
        patch:
            tags:
                - Changes
            summary: Update a change event
            description: Update a change event
            operationId: updateChangeEvent
            parameters:
                - name: change_event_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1ChangesEventsChangeEventId"
                required: true
            responses:
                '200':
                    description: Update a change event
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeEventEntity"
            x-codegen-request-body-name: patchV1ChangesEventsChangeEventId
    "/v1/changes/{change_id}":
        delete:
            tags:
                - Changes
            description: Archive a change entry
            operationId: deleteChange
            parameters:
                - name: change_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '204':
                    description: Archive a change entry
                    content: {}
            summary: Archive a change
        patch:
            tags:
                - Changes
            description: Update a change entry
            operationId: updateChange
            parameters:
                - name: change_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1ChangesChangeId"
                required: true
            responses:
                '200':
                    description: Update a change entry
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeEntity"
            x-codegen-request-body-name: patchV1ChangesChangeId
            summary: Update a change
    "/v1/changes/{change_id}/identities":
        get:
            tags:
                - Changes
            description: Retrieve all identities for the change
            operationId: listChangeIdentities
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: change_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve all identities for the change
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeIdentityEntityPaginated"
            summary: List identities for a change
        post:
            tags:
                - Changes
            description: Create an identity for this change
            operationId: createChangeIdentity
            parameters:
                - name: change_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1ChangesChangeIdIdentities"
                required: true
            responses:
                '201':
                    description: Create an identity for this change
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeIdentityEntity"
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ErrorEntity"
            x-codegen-request-body-name: postV1ChangesChangeIdIdentities
            summary: Create an identity for a change
    "/v1/changes/{change_id}/identities/{identity_id}":
        delete:
            tags:
                - Changes
            description: Delete an identity
            operationId: deleteChangeIdentity
            parameters:
                - name: identity_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: change_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '204':
                    description: Delete an identity
                    content: {}
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ErrorEntity"
            summary: Delete an identity from a change
        patch:
            tags:
                - Changes
            description: Update an identity
            operationId: updateChangeIdentity
            parameters:
                - name: identity_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: change_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1ChangesChangeIdIdentitiesIdentityId"
                required: true
            responses:
                '200':
                    description: Update an identity
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChangeIdentityEntity"
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ErrorEntity"
            x-codegen-request-body-name: patchV1ChangesChangeIdIdentitiesIdentityId
            summary: Update an identity for a change
    "/v1/checklist_templates":
        get:
            tags:
                - Tasks
            summary: List checklist templates
            description: List all of the checklist templates that have been added to the organization
            operationId: listChecklistTemplates
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: query
                  in: query
                  description: A query to search checklist templates by their name
                  schema:
                    type: string
            responses:
                '200':
                    description: List all of the checklist templates that have been added to the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChecklistTemplateEntityPaginated"
        post:
            tags:
                - Tasks
            summary: Create a checklist template
            description: Creates a checklist template for the organization
            operationId: createChecklistTemplate
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1ChecklistTemplates"
                required: true
            responses:
                '201':
                    description: Creates a checklist template for the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChecklistTemplateEntity"
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ErrorEntity"
            x-codegen-request-body-name: postV1ChecklistTemplates
    "/v1/checklist_templates/{id}":
        get:
            tags:
                - Tasks
            summary: Get a checklist template
            description: Retrieves a single checklist template by ID
            operationId: getChecklistTemplate
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieves a single checklist template by ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChecklistTemplateEntity"
        delete:
            tags:
                - Tasks
            summary: Archive a checklist template
            description: Archive a checklist template
            operationId: deleteChecklistTemplate
            parameters:
                - name: id
                  in: path
                  description: Checklist Template UUID
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Archive a checklist template
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChecklistTemplateEntity"
        patch:
            tags:
                - Tasks
            summary: Update a checklist template
            description: Update a checklist templates attributes
            operationId: updateChecklistTemplate
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1ChecklistTemplatesId"
                required: true
            responses:
                '200':
                    description: Update a checklist templates attributes
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/ChecklistTemplateEntity"
            x-codegen-request-body-name: patchV1ChecklistTemplatesId
    "/v1/conversations/{conversation_id}/comments":
        get:
            tags:
                - Conversations
            summary: List comments for a conversation
            description: ALPHA - List all of the comments that have been added to the organization
            operationId: listConversationComments
            parameters:
                - name: before
                  in: query
                  description: An ISO8601 timestamp that allows filtering for comments posted before the provided time.
                  schema:
                    type: string
                    format: date-time
                - name: after
                  in: query
                  description: An ISO8601 timestamp that allows filtering for comments posted after the provided time.
                  schema:
                    type: string
                    format: date-time
                - name: sort
                  in: query
                  description: Allows sorting comments by the time they were posted, ascending or descending.
                  schema:
                    type: string
                    default: asc
                    enum:
                        - asc
                        - desc
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: ALPHA - List all of the comments that have been added to the organization
                    content: {}
        post:
            tags:
                - Conversations
            summary: Create a comment for a conversation
            description: ALPHA - Creates a comment for a project
            operationId: createConversationComment
            parameters:
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1ConversationsConversationIdComments"
                required: true
            responses:
                '201':
                    description: ALPHA - Creates a comment for a project
                    content: {}
            x-codegen-request-body-name: postV1ConversationsConversationIdComments
    "/v1/conversations/{conversation_id}/comments/{comment_id}":
        get:
            tags:
                - Conversations
            summary: Get a conversation comment
            description: ALPHA - Retrieves a single comment by ID
            operationId: getConversationComment
            parameters:
                - name: comment_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: ALPHA - Retrieves a single comment by ID
                    content: {}
        delete:
            tags:
                - Conversations
            summary: Delete a conversation comment
            description: ALPHA - Archive a comment
            operationId: deleteConversationComment
            parameters:
                - name: comment_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '204':
                    description: ALPHA - Archive a comment
                    content: {}
        patch:
            tags:
                - Conversations
            summary: Update a conversation comment
            description: ALPHA - Update a comment's attributes
            operationId: updateConversationComment
            parameters:
                - name: comment_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1ConversationsConversationIdCommentsCommentId"
                required: true
            responses:
                '200':
                    description: ALPHA - Update a comment's attributes
                    content: {}
            x-codegen-request-body-name: patchV1ConversationsConversationIdCommentsCommentId
    "/v1/conversations/{conversation_id}/comments/{comment_id}/reactions":
        get:
            tags:
                - Conversations
            summary: List reactions for a conversation comment
            description: ALPHA - List all of the reactions that have been added to a comment
            operationId: listConversationCommentReactions
            parameters:
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: comment_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: ALPHA - List all of the reactions that have been added to a comment
                    content: {}
        post:
            tags:
                - Conversations
            summary: Create a reaction for a conversation comment
            description: ALPHA - Create a reaction on a comment
            operationId: createConversationCommentReaction
            parameters:
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: comment_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1ConversationsConversationIdCommentsCommentIdReactions"
                required: true
            responses:
                '201':
                    description: ALPHA - Create a reaction on a comment
                    content: {}
            x-codegen-request-body-name: postV1ConversationsConversationIdCommentsCommentIdReactions
    "/v1/conversations/{conversation_id}/comments/{comment_id}/reactions/{reaction_id}":
        delete:
            tags:
                - Conversations
            summary: Delete a reaction from a conversation comment
            description: ALPHA - Archive a reaction
            operationId: deleteConversationCommentReaction
            parameters:
                - name: reaction_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: conversation_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: comment_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '204':
                    description: ALPHA - Archive a reaction
                    content: {}
    "/v1/current_user":
        get:
            tags:
                - Users
            description: Retrieve the current user
            operationId: getCurrentUser
            responses:
                '200':
                    description: Retrieve the current user
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/CurrentUserEntity"
            summary: Get the currently authenticated user
    "/v1/custom_fields/definitions":
        get:
            tags:
                - Incident Settings
            summary: List custom field definitions
            description: List all custom field definitions
            operationId: listCustomFieldDefinitions
            responses:
                '200':
                    description: List all custom field definitions
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Organizations_CustomFieldDefinitionEntity"
        post:
            tags:
                - Incident Settings
            summary: Create a custom field definition
            description: Create a new custom field definition
            operationId: createCustomFieldDefinition
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1CustomFieldsDefinitions"
                required: true
            responses:
                '201':
                    description: Create a new custom field definition
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Organizations_CustomFieldDefinitionEntity"
            x-codegen-request-body-name: postV1CustomFieldsDefinitions
    "/v1/custom_fields/definitions/{field_id}":
        delete:
            tags:
                - Incident Settings
            summary: Delete a custom field definition
            description: Delete a custom field definition
            operationId: deleteCustomFieldDefinition
            parameters:
                - name: field_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Delete a custom field definition
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Organizations_CustomFieldDefinitionEntity"
        patch:
            tags:
                - Incident Settings
            summary: Update a custom field definition
            description: Update a single custom field definition
            operationId: updateCustomFieldDefinition
            parameters:
                - name: field_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1CustomFieldsDefinitionsFieldId"
                required: true
            responses:
                '200':
                    description: Update a single custom field definition
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Organizations_CustomFieldDefinitionEntity"
            x-codegen-request-body-name: patchV1CustomFieldsDefinitionsFieldId
    "/v1/custom_fields/definitions/{field_id}/select_options":
        get:
            tags:
                - Incident Settings
            summary: List select options for a custom field
            description: Get the permissible values for the a currently active custom select or multi-select field.
            operationId: getCustomFieldSelectOptions
            parameters:
                - name: field_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: query
                  in: query
                  description: Text string of a query for filtering values.
                  schema:
                    type: string
                - name: all_versions
                  in: query
                  description: If true, return all versions of the custom field definition.
                  schema:
                    type: boolean
            responses:
                '200':
                    description: Get the permissible values for the a currently active custom select or multi-select field.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Organizations_CustomFieldDefinitionEntity"
    "/v1/entitlements":
        get:
            tags:
                - Account Settings
            description: Retrieve all entitlements
            operationId: listEntitlements
            parameters:
                - name: name
                  in: query
                  description: Name of Entitlement
                  schema:
                    type: string
                - name: type
                  in: query
                  description: Type of Entitlement
                  schema:
                    type: string
                    enum:
                        - quota
                        - access
            responses:
                '200':
                    description: Retrieve all entitlements
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/EntitlementEntityPaginated"
            summary: List entitlements
    "/v1/environments":
        get:
            tags:
                - Environments
            summary: List environments
            description: List all of the environments that have been added to the organiation
            operationId: listEnvironments
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: query
                  in: query
                  description: A query to search environments by their name or description
                  schema:
                    type: string
                - name: name
                  in: query
                  description: A query to search environments by their name
                  schema:
                    type: string
            responses:
                '200':
                    description: List all of the environments that have been added to the organiation
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/EnvironmentEntryEntityPaginated"
        post:
            tags:
                - Environments
            summary: Create an environment
            description: Creates an environment for the organization
            operationId: createEnvironment
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1Environments"
                required: true
            responses:
                '201':
                    description: Creates an environment for the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/EnvironmentEntryEntity"
            x-codegen-request-body-name: postV1Environments
    "/v1/environments/{environment_id}":
        get:
            tags:
                - Environments
            summary: Get an environment
            description: Retrieves a single environment by ID
            operationId: getEnvironment
            parameters:
                - name: environment_id
                  in: path
                  description: Environment UUID
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieves a single environment by ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/EnvironmentEntryEntity"
        delete:
            tags:
                - Environments
            summary: Archive an environment
            description: Archive an environment
            operationId: deleteEnvironment
            parameters:
                - name: environment_id
                  in: path
                  description: Environment UUID
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Archive an environment
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/EnvironmentEntryEntity"
        patch:
            tags:
                - Environments
            summary: Update an environment
            description: Update a environments attributes
            operationId: updateEnvironment
            parameters:
                - name: environment_id
                  in: path
                  description: Environment UUID
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1EnvironmentsEnvironmentId"
                required: true
            responses:
                '200':
                    description: Update a environments attributes
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/EnvironmentEntryEntity"
            x-codegen-request-body-name: patchV1EnvironmentsEnvironmentId
    "/v1/form_configurations/{slug}":
        get:
            tags:
                - Incident Settings
            operationId: getFormConfiguration
            parameters:
                - name: slug
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: get FormConfiguration(s)
                    content: {}
            summary: Get a form configuration
    "/v1/functionalities":
        get:
            tags:
                - Functionalities
            summary: List functionalities
            description: List all of the functionalities that have been added to the organiation
            operationId: listFunctionalities
            parameters:
                - name: query
                  in: query
                  description: A query to search functionalities by their name or description
                  schema:
                    type: string
                - name: name
                  in: query
                  description: A query to search functionalities by their name
                  schema:
                    type: string
                - name: impacted
                  in: query
                  description: A query to search services by if they are impacted with active incidents
                  schema:
                    type: string
                - name: labels
                  in: query
                  description: A comma separated list of label key / values in the format of 'key=value,key2=value2'. To filter change events that have a key (with no specific value), omit the value
                  schema:
                    type: string
                - name: owner
                  in: query
                  description: A query to search functionalities by their owning team ID
                  schema:
                    type: string
                - name: lite
                  in: query
                  description: Boolean to determine whether to return a slimified version of the functionalities object
                  schema:
                    type: boolean
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: List all of the functionalities that have been added to the organiation
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/FunctionalityEntityPaginated"
        post:
            tags:
                - Functionalities
            summary: Create a functionality
            description: Creates a functionality for the organization
            operationId: createFunctionality
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1Functionalities"
                required: true
            responses:
                '201':
                    description: Creates a functionality for the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/FunctionalityEntity"
            x-codegen-request-body-name: postV1Functionalities
    "/v1/functionalities/{functionality_id}":
        get:
            tags:
                - Functionalities
            summary: Get a functionality
            description: Retrieves a single functionality by ID
            operationId: getFunctionality
            parameters:
                - name: functionality_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieves a single functionality by ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/FunctionalityEntity"
        delete:
            tags:
                - Functionalities
            summary: Archive a functionality
            description: Archive a functionality
            operationId: deleteFunctionality
            parameters:
                - name: functionality_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Archive a functionality
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/FunctionalityEntity"
        patch:
            tags:
                - Functionalities
            summary: Update a functionality
            description: Update a functionalities attributes
            operationId: updateFunctionality
            parameters:
                - name: functionality_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1FunctionalitiesFunctionalityId"
                required: true
            responses:
                '200':
                    description: Update a functionalities attributes
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/FunctionalityEntity"
            x-codegen-request-body-name: patchV1FunctionalitiesFunctionalityId
    "/v1/functionalities/{functionality_id}/services":
        get:
            tags:
                - Functionalities
            operationId: getFunctionalityServices
            parameters:
                - name: functionality_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: get Service(s)
                    content: {}
            summary: List services for a functionality
    "/v1/incident_roles":
        get:
            tags:
                - Incident Settings
            summary: List incident roles
            description: List all of the incident roles in the organization
            operationId: listIncidentRoles
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: List all of the incident roles in the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentRoleEntityPaginated"
        post:
            tags:
                - Incident Settings
            summary: Create an incident role
            description: Create a new incident role
            operationId: createIncidentRole
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1IncidentRoles"
                required: true
            responses:
                '201':
                    description: Create a new incident role
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentRoleEntity"
            x-codegen-request-body-name: postV1IncidentRoles
    "/v1/incident_roles/{incident_role_id}":
        get:
            tags:
                - Incident Settings
            summary: Get an incident role
            description: Retrieve a single incident role from its ID
            operationId: getIncidentRole
            parameters:
                - name: incident_role_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve a single incident role from its ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentRoleEntity"
        delete:
            tags:
                - Incident Settings
            summary: Archive an incident role
            description: Archives an incident role which will hide it from lists and metrics
            operationId: deleteIncidentRole
            parameters:
                - name: incident_role_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Archives an incident role which will hide it from lists and metrics
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentRoleEntity"
        patch:
            tags:
                - Incident Settings
            summary: Update an incident role
            description: Update a single incident role from its ID
            operationId: updateIncidentRole
            parameters:
                - name: incident_role_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1IncidentRolesIncidentRoleId"
                required: true
            responses:
                '200':
                    description: Update a single incident role from its ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentRoleEntity"
            x-codegen-request-body-name: patchV1IncidentRolesIncidentRoleId
    "/v1/incident_tags":
        get:
            tags:
                - Incident Settings
            summary: List incident tags
            description: List all of the incident tags in the organization
            operationId: listIncidentTags
            parameters:
                - name: prefix
                  in: query
                  schema:
                    type: string
            responses:
                '200':
                    description: List all of the incident tags in the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/TagEntityPaginated"
    "/v1/incident_tags/validate":
        post:
            tags:
                - Incident Settings
            summary: Validate incident tags
            description: Validate the format of a list of tags
            operationId: validateIncidentTags
            requestBody:
                description: A list of tags to validate
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                type: string
                required: true
            responses:
                '201':
                    description: Validate the format of a list of tags
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/TagEntity"
            x-codegen-request-body-name: tags
    "/v1/incident_types":
        get:
            tags:
                - Incident Settings
            summary: List incident types
            description: List all of the incident types in the organization
            operationId: listIncidentTypes
            parameters:
                - name: query
                  in: query
                  description: A query to search incident types by their name
                  schema:
                    type: string
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: List all of the incident types in the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentTypeEntityPaginated"
        post:
            tags:
                - Incident Settings
            summary: Create an incident type
            description: Create a new incident type
            operationId: createIncidentType
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1IncidentTypes"
                required: true
            responses:
                '201':
                    description: Create a new incident type
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentTypeEntity"
            x-codegen-request-body-name: postV1IncidentTypes
    "/v1/incident_types/{id}":
        get:
            tags:
                - Incident Settings
            summary: Get an incident type
            description: Retrieve a single incident type from its ID
            operationId: getIncidentType
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve a single incident type from its ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentTypeEntity"
        delete:
            tags:
                - Incident Settings
            summary: Archive an incident type
            description: Archives an incident type which will hide it from lists and metrics
            operationId: archiveIncidentType
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Archives an incident type which will hide it from lists and metrics
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentTypeEntity"
        patch:
            tags:
                - Incident Settings
            summary: Update an incident type
            description: Update a single incident type from its ID
            operationId: updateIncidentType
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1IncidentTypesId"
                required: true
            responses:
                '200':
                    description: Update a single incident type from its ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentTypeEntity"
            x-codegen-request-body-name: patchV1IncidentTypesId
    "/v1/incidents":
        get:
            tags:
                - Incidents
            summary: List incidents
            description: List all of the incidents in the organization
            operationId: listIncidents
            parameters:
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: conditions
                  in: query
                  description: A JSON string that defines 'logic' and 'user_data'
                  schema:
                    type: string
                - name: environments
                  in: query
                  description: A comma separated list of environment IDs or 'is_empty' to filter for incidents with no impacted environments
                  schema:
                    type: string
                - name: services
                  in: query
                  description: A comma separated list of service IDs or 'is_empty' to filter for incidents with no impacted services
                  schema:
                    type: string
                - name: functionalities
                  in: query
                  description: A comma separated list of functionality IDs or 'is_empty' to filter for incidents with no impacted functionalities
                  schema:
                    type: string
                - name: excluded_infrastructure_ids
                  in: query
                  description: A comma separated list of infrastructure IDs. Returns incidents that do not have the following infrastructure ids associated with them.
                  schema:
                    type: string
                - name: teams
                  in: query
                  description: A comma separated list of team IDs
                  schema:
                    type: string
                - name: assigned_teams
                  in: query
                  description: A comma separated list of IDs for assigned teams or 'is_empty' to filter for incidents with no active team assignments
                  schema:
                    type: string
                - name: status
                  in: query
                  description: Incident status
                  schema:
                    type: string
                - name: start_date
                  in: query
                  description: Filters for incidents that started on or after this date
                  schema:
                    type: string
                    format: date
                - name: end_date
                  in: query
                  description: Filters for incidents that started on or before this date
                  schema:
                    type: string
                    format: date
                - name: resolved_at_or_after
                  in: query
                  description: Filters for incidents that were resolved at or after this time. Combine this with the `current_milestones` parameter if you wish to omit incidents that were re-opened and are still active.
                  schema:
                    type: string
                    format: date-time
                - name: resolved_at_or_before
                  in: query
                  description: Filters for incidents that were resolved at or before this time. Combine this with the `current_milestones` parameter if you wish to omit incidents that were re-opened and are still active.
                  schema:
                    type: string
                    format: date-time
                - name: created_at_or_after
                  in: query
                  description: Filters for incidents that were created at or after this time
                  schema:
                    type: string
                    format: date-time
                - name: created_at_or_before
                  in: query
                  description: Filters for incidents that were created at or before this time
                  schema:
                    type: string
                    format: date-time
                - name: query
                  in: query
                  description: A text query for an incident that searches on name, summary, and desciption
                  schema:
                    type: string
                - name: name
                  in: query
                  description: A query to search incidents by their name
                  schema:
                    type: string
                - name: saved_search_id
                  in: query
                  description: The id of a previously saved search.
                  schema:
                    type: string
                - name: priorities
                  in: query
                  description: A text value of priority
                  schema:
                    type: string
                - name: priority_not_set
                  in: query
                  description: Flag for including incidents where priority has not been set
                  schema:
                    type: boolean
                - name: severities
                  in: query
                  description: A text value of severity
                  schema:
                    type: string
                - name: severity_not_set
                  in: query
                  description: Flag for including incidents where severity has not been set
                  schema:
                    type: boolean
                - name: current_milestones
                  in: query
                  description: A comma separated list of current milestones
                  schema:
                    type: string
                - name: tags
                  in: query
                  description: A comma separated list of tags
                  schema:
                    type: string
                - name: tag_match_strategy
                  in: query
                  description: A matching strategy for the tags provided
                  schema:
                    type: string
                    enum:
                        - any
                        - match_all
                        - exclude
                - name: archived
                  in: query
                  description: Return archived incidents
                  schema:
                    type: boolean
                - name: updated_after
                  in: query
                  description: Filters for incidents that were updated after this date
                  schema:
                    type: string
                    format: date-time
                - name: updated_before
                  in: query
                  description: Filters for incidents that were updated before this date
                  schema:
                    type: string
                    format: date-time
                - name: incident_type_id
                  in: query
                  description: A comma separated list of incident type IDs
                  schema:
                    type: string
            responses:
                '200':
                    description: List all of the incidents in the organization
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEntityPaginated"
        post:
            tags:
                - Incidents
            summary: Create an incident
            description: Create a new incident
            operationId: createIncident
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1Incidents"
                required: true
            responses:
                '201':
                    description: Create a new incident
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEntity"
            x-codegen-request-body-name: postV1Incidents
    "/v1/incidents/{incident_id}":
        get:
            tags:
                - Incidents
            summary: Get an incident
            description: Retrieve a single incident from its ID
            operationId: getIncident
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve a single incident from its ID
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEntity"
        delete:
            tags:
                - Incidents
            summary: Archive an incident
            description: Archives an incident which will hide it from lists and metrics
            operationId: archiveIncident
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Archives an incident which will hide it from lists and metrics
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEntity"
        patch:
            tags:
                - Incidents
            summary: Update an incident
            description: Updates an incident with provided parameters
            operationId: updateIncident
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1IncidentsIncidentId"
                required: true
            responses:
                '200':
                    description: Updates an incident with provided parameters
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEntity"
            x-codegen-request-body-name: patchV1IncidentsIncidentId
    "/v1/incidents/{incident_id}/alerts":
        get:
            tags:
                - Alerts
            summary: List alerts for an incident
            description: List alerts that have been attached to an incident
            operationId: listIncidentAlerts
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: List alerts that have been attached to an incident
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Incidents_AlertEntityPaginated"
        post:
            tags:
                - Alerts
            summary: Attach alerts to an incident
            description: Add an alert to an incident. FireHydrant needs to have ingested the alert from a third party system in order to attach it to the incident.
            operationId: createIncidentAlerts
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                description: Array of alert IDs to be assigned to the incident
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                type: string
                required: true
            responses:
                '204':
                    description: Add an alert to an incident. FireHydrant needs to have ingested the alert from a third party system in order to attach it to the incident.
                    content: {}
            x-codegen-request-body-name: alert_ids
    "/v1/incidents/{incident_id}/alerts/{incident_alert_id}":
        delete:
            tags:
                - Incidents
            summary: Delete an alert from an incident
            description: Remove an alert from an incident
            operationId: deleteIncidentAlert
            parameters:
                - name: incident_alert_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '204':
                    description: Remove an alert from an incident
                    content: {}
    "/v1/incidents/{incident_id}/alerts/{incident_alert_id}/primary":
        patch:
            tags:
                - Incidents
            summary: Set an alert as primary for an incident
            description: Setting an alert as primary will overwrite milestone times in the FireHydrant incident with times included in the primary alert. Services attached to the primary alert will also be automatically added to the incident.
            operationId: setIncidentAlertAsPrimary
            parameters:
                - name: incident_alert_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1IncidentsIncidentIdAlertsIncidentAlertIdPrimary"
                required: true
            responses:
                '200':
                    description: Setting an alert as primary will overwrite milestone times in the FireHydrant incident with times included in the primary alert. Services attached to the primary alert will also be automatically added to the incident.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Incidents_AlertEntity"
            x-codegen-request-body-name: patchV1IncidentsIncidentIdAlertsIncidentAlertIdPrimary
    "/v1/incidents/{incident_id}/attachments":
        get:
            tags:
                - Incidents
            operationId: listIncidentAttachments
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: attachable_type
                  in: query
                  schema:
                    type: string
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: get Attachment(s)
                    content: {}
            summary: List attachments for an incident
        post:
            tags:
                - Incidents
            summary: Create an attachment for an incident
            description: Allows adding image attachments to an incident
            operationId: createIncidentAttachment
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            required:
                                - file
                            type: object
                            properties:
                                file:
                                    type: string
                                    format: binary
                                description:
                                    type: string
                                occurred_at:
                                    type: string
                                    format: date-time
                                vote_direction:
                                    type: string
                                    enum:
                                        - up
                                        - down
                required: true
            responses:
                '201':
                    description: Allows adding image attachments to an incident
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentAttachmentEntity"
    "/v1/incidents/{incident_id}/channel":
        get:
            tags:
                - Incidents
            summary: Get chat channel information for an incident
            description: Gives chat channel information for the specified incident
            operationId: getIncidentChannel
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Gives chat channel information for the specified incident
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Incidents_ChannelEntity"
    "/v1/incidents/{incident_id}/close":
        put:
            tags:
                - Incidents
            summary: Close an incident
            description: Closes an incident and optionally close all children
            operationId: closeIncident
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Closes an incident and optionally close all children
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEntity"
    "/v1/incidents/{incident_id}/events":
        get:
            tags:
                - Incidents
            summary: List events for an incident
            description: List all events for an incident. An event is a timeline entry. This can be filtered with params to retrieve events of a certain type.
            operationId: listIncidentEvents
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: types
                  in: query
                  description: A comma separated list of types of events to filter by
                  schema:
                    type: string
                - name: page
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: per_page
                  in: query
                  schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: List all events for an incident. An event is a timeline entry. This can be filtered with params to retrieve events of a certain type.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEventEntityPaginated"
    "/v1/incidents/{incident_id}/events/{event_id}":
        get:
            tags:
                - Incidents
            summary: Get an incident event
            description: Retrieve a single event for an incident
            operationId: getIncidentEvent
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: event_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Retrieve a single event for an incident
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEventEntity"
        delete:
            tags:
                - Incidents
            summary: Delete an incident event
            description: Delete a single event for an incident
            operationId: deleteIncidentEvent
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: event_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Delete a single event for an incident
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEventEntity"
        patch:
            tags:
                - Incidents
            summary: Update an incident event
            description: Update a single event for an incident
            operationId: updateIncidentEvent
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: event_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Update a single event for an incident
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEventEntity"
    "/v1/incidents/{incident_id}/events/{event_id}/votes":
        patch:
            tags:
                - Incidents
            summary: Update votes for an incident event
            description: Allows for upvoting or downvoting an event
            operationId: updateIncidentEventVotes
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: event_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1IncidentsIncidentIdEventsEventIdVotes"
                required: true
            responses:
                '200':
                    description: Allows for upvoting or downvoting an event
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/VotesEntity"
            x-codegen-request-body-name: patchV1IncidentsIncidentIdEventsEventIdVotes
    "/v1/incidents/{incident_id}/events/{event_id}/votes/status":
        get:
            tags:
                - Incidents
            summary: Get vote counts for an incident event
            description: Returns the current vote counts for an object
            operationId: getIncidentEventVoteStatus
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: event_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Returns the current vote counts for an object
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/VotesEntity"
    "/v1/incidents/{incident_id}/generic_chat_messages":
        post:
            tags:
                - Incidents
            summary: Create a chat message for an incident
            description: Create a new generic chat message on an incident timeline. These are independent of any specific chat provider.
            operationId: createIncidentGenericChatMessage
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/postV1IncidentsIncidentIdGenericChatMessages"
                required: true
            responses:
                '201':
                    description: Create a new generic chat message on an incident timeline. These are independent of any specific chat provider.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Event_GenericChatMessageEntity"
            x-codegen-request-body-name: postV1IncidentsIncidentIdGenericChatMessages
    "/v1/incidents/{incident_id}/generic_chat_messages/{message_id}":
        delete:
            tags:
                - Incidents
            summary: Delete a chat message from an incident
            description: Delete an existing generic chat message on an incident.
            operationId: deleteIncidentChatMessage
            parameters:
                - name: message_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                '200':
                    description: Delete an existing generic chat message on an incident.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Event_GenericChatMessageEntity"
        patch:
            tags:
                - Incidents
            summary: Update a chat message in an incident
            description: Update an existing generic chat message on an incident.
            operationId: updateIncidentChatMessage
            parameters:
                - name: message_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/patchV1IncidentsIncidentIdGenericChatMessagesMessageId"
                required: true
            responses:
                '200':
                    description: Update an existing generic chat message on an incident.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/Event_GenericChatMessageEntity"
            x-codegen-request-body-name: patchV1IncidentsIncidentIdGenericChatMessagesMessageId
    "/v1/incidents/{incident_id}/impact":
        put:
            tags:
                - Incidents
            summary: Replace all impacts for an incident
            description: |
                Allows updating an incident's impacted infrastructure, with the option to
                move the incident into a different milestone and provide a note to update
                the incident timeline and any attached status pages. If this method is
                requested with the PUT verb, impacts will be completely replaced with the
                information in the request body, even if not provided (effectively clearing
                all impacts). If this method is requested with the PATCH verb, the provided
                impacts will be added or updated, but no impacts will be removed.
            operationId: updateIncidentImpacts
            parameters:
                - name: incident_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            "$ref": "#/components/schemas/putV1IncidentsIncidentIdImpact"
                required: true
            responses:
                '200':
                    description: |
                        Allows updating an incident's impacted infrastructure, with the option to
                        move the incident into a different milestone and provide a note to update
                        the incident timeline and any attached status pages. If this method is
                        requested with the PUT verb, impacts will be completely replaced with the
                        information in the request body, even if not provided (effectively clearing
                        all impacts). If this method is requested with the PATCH verb, the provided
                        impacts will be added or updated, but no impacts will be removed.
                    content:
                        application/json:
                            schema:
                                "$ref": "#/components/schemas/IncidentEntity"
            x-codegen-request-body-name: putV1IncidentsIncidentIdImpact
        patch:
            tags:
                - Incidents
            summary: Update impacts for an incident
            description: |
                Allows updating an incident's impacted infrastructure, with the option to
                move the incident into a different milestone and provide a note to update
                the incident timeline and any attached status pages. If this method is
[...]
